*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #110E1B;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #191528;
    border: 1px solid #7C162E;
    border-bottom: none;
}

header h1{
    font-size: 20px;
}

h3{
    font-size: 15px;
    color:white;
}

header ul{
    display: flex;
    gap: 25px;
    list-style: none;
}

header a{
    text-decoration: none;
    color: #bbb;
    transition: 0.3s;
}

header a:hover{
    color: #21295C;
}

.button-group {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
    margin-top: 20px;

}

.button-group button{
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #5C162E;
    border-color: #7C162E;
    color: white;
}

.button-group button:hover{
    background-color: #21295C;
    border-color: #21295C;
    color: white;
    transform: translateY(-3px);
    transition: all 0.3s ease;
}

main{
    max-width: 1100px;
    margin: auto;
    background-color: #191528;
    border: 1px solid #7C162E;
}

section{
    padding: 40px 30px;
    border-bottom: 1px solid #7C162E;
}

section h2{
    margin-bottom: 20px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#about{
    text-align: center;
    padding: 80px 30px;
}

#about h2{
    font-size: 32px;
    color: white;
    text-transform: none;
    letter-spacing: 0;
}

#about p{
    margin-top: 15px;
    color: #aaa;
}

#skills ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    list-style: none;
}

#skills li{
    background-color: #5C162E;
    border: 1px solid #7C162E;
    padding: 20px;
    border-radius: 6px;
    transition: 0.3s;
}

#projects img {
    width: 100%;
    max-width: 420px;
    height: auto;
}

.bottom{
    display: flex;
    gap: 20px;
    padding: 30px;
}

.bottom section{
    padding: 0;
    border-bottom: none;
}


#projects{
    width: 100%;
}

#projects p{
    width: 100%;
    height: 150px;
    background-color: #5C162E;
    border: 1px dashed #7C162E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
}

#contact{
    width: 100%;
}


#contact p{
    display: block;
    background-color: #5C162E;
    border: 1px solid #7C162E;
    padding: 15px;
    color: #aaa;
    width: 100%;
    margin-bottom: 15px;
}

button{
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #5C162E;
    border-color: #7C162E;
    color: white;
    transition: all 0.8s ease;
}

button:hover{
    background-color: #21295C;
    border-color: #21295C;
    color: white;
    transform: translateY(-3px);
}

footer{
    max-width: 1100px;
    margin: auto;
    padding: 20px 30px;
    background-color: #191528;
    border: 1px solid #7C162E;
    border-top: none;
    color: white;
    font-size: 14px;
}