*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* ===== HEADER ===== */
header{
    max-width: 1100px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 30px;

    background-color: #181818;
    border: 1px solid #2d2d2d;
    border-bottom: none;
}

header h1{
    font-size: 20px;
}

header ul{
    display: flex;
    gap: 25px;
    list-style: none;
}

header a{
    text-decoration: none;
    color: #bbb;
    transition: 0.3s;
}

header a:hover{
    color: white;
}

/* ===== MAIN ===== */
main{
    max-width: 1100px;
    margin: auto;

    background-color: #181818;
    border: 1px solid #2d2d2d;
}

/* ===== SECTIONS ===== */
section{
    padding: 40px 30px;
    border-bottom: 1px solid #2d2d2d;
}

section h2{
    margin-bottom: 20px;
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* ===== ABOUT ===== */
#about{
    text-align: center;
    padding: 80px 30px;
}

#about h2{
    font-size: 32px;
    color: white;
    text-transform: none;
    letter-spacing: 0;
}

#about p{
    margin-top: 15px;
    color: #aaa;
}

/* ===== SKILLS ===== */
#skills ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    list-style: none;
}

#skills li{
    background-color: #202020;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 6px;

    transition: 0.3s;
}

#skills li:hover{
    border-color: #7c3aed;
    transform: translateY(-3px);
}

/* ===== BOTTOM SECTION ===== */
.bottom{
    display: flex;
    gap: 20px;
    padding: 30px;
}

.bottom section{
    padding: 0;
    border-bottom: none;
}


/* ===== PROJECTS ===== */
#projects{
    width: 100%;
}

#projects p{
    width: 100%;
    height: 180px;

    background-color: #202020;
    border: 1px dashed #444;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #666;
}

/* ===== CONTACT ===== */
#contact{
    width: 100%;
}


#contact p{
    display: block;
    background-color: #202020;
    border: 1px solid #333;
    padding: 15px;
    

    color: #aaa;
    width: 100%;
    margin-bottom: 15px;
}

/* ===== FOOTER ===== */
footer{
    max-width: 1100px;
    margin: auto;

    padding: 20px 30px;

    background-color: #181818;
    border: 1px solid #2d2d2d;
    border-top: none;

    color: #777;
    font-size: 14px;
}