*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #181818;
    border: 1px solid #2d2d2d;
    border-bottom: none;
}

header h1{
    font-size: 20px;
}

h3{
    font-size: 15px;
    color:white;
}

header ul{
    display: flex;
    gap: 25px;
    list-style: none;
}

header a{
    text-decoration: none;
    color: #bbb;
    transition: 0.3s;
}

header a:hover{
    color: white;
}

.button-group {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
    margin-top: 20px;

}

.button-group button{
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #181818;
    border-color: white;
    color: white;
}

.button-group :hover{
    background-color: #7c3aed;
    color: white;
    transform: translateY(-3px);
}

main{
    max-width: 1100px;
    margin: auto;
    background-color: #181818;
    border: 1px solid #2d2d2d;
}

section{
    padding: 40px 30px;
    border-bottom: 1px solid #2d2d2d;
}

section h2{
    margin-bottom: 20px;
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#about{
    text-align: center;
    padding: 80px 30px;
}

#about h2{
    font-size: 32px;
    color: white;
    text-transform: none;
    letter-spacing: 0;
}

#about p{
    margin-top: 15px;
    color: #aaa;
}

#skills ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    list-style: none;
}

#skills li{
    background-color: #202020;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 6px;
    transition: 0.3s;
}

#skills li:hover{
    border-color: #7c3aed;
    transform: translateY(-3px);
}

.bottom{
    display: flex;
    gap: 20px;
    padding: 30px;
}

.bottom section{
    padding: 0;
    border-bottom: none;
}


#projects{
    width: 100%;
}

#projects p{
    width: 100%;
    height: 150px;
    background-color: #202020;
    border: 1px dashed #444;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
}

#contact{
    width: 100%;
}


#contact p{
    display: block;
    background-color: #202020;
    border: 1px solid #333;
    padding: 15px;
    color: #aaa;
    width: 100%;
    margin-bottom: 15px;
}

button{
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #181818;
    border-color: white;
    color: white;
}

button:hover{
    background-color: #7c3aed;
    color: white;
    transform: translateY(-3px);
}

footer{
    max-width: 1100px;
    margin: auto;
    padding: 20px 30px;
    background-color: #181818;
    border: 1px solid #2d2d2d;
    border-top: none;
    color: #777;
    font-size: 14px;
}